streamlit
google-generativeai
python-dotenv
requests
flask
flask-cors
pyjwt
selenium
beautifulsoup4
webdriver-manager
langchain
langchain_community
langchain-google-genai
langchain-text-splitters
langchain-core
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
chromadb